<div class="form-label-group">
    <select
      [ngClass]="(controlDir && controlDir.control && controlDir.control.touched) ? !controlDir.control.valid ? 'is-invalid' : 'is-valid' : ''"
      (input)="onChange($event.target.value)"
      (blur)="onTouched()"
        #select
        [id]="id"
        [name]="id"
        class="form-control">

      <option value="">{{label}}</option>
      <option *ngFor="let item of items" [value]="item?.id" >{{item?.description}}</option>

    </select>
    <div *ngIf="controlDir && controlDir.control && controlDir.control.status === 'PENDING'" class="fa fa-spinner fa-spin loader"></div>

    <div class="invalid-feedback" *ngIf="(controlDir && controlDir.control && !controlDir.control.valid && controlDir.control.touched)">

      <span *ngIf="controlDir.control.errors?.required">{{label}} is required</span>
    <span *ngIf="controlDir.control.errors?.pattern">Invalid email address</span>

    </div>

 <!-- <div class="col-10">

    <p>Form Status: {{controlDir.status}}</p>
    <p>Select Status: {{controlDir.control.status}}</p>
    <p>Select Dirt: {{controlDir.dirty}}</p>
  </div>-->

    <div class="invalid-feedback d-block" *ngIf="(controlDir && controlDir.control && !controlDir.control.valid && controlDir.control.dirty)">
        <span *ngIf="controlDir.control.errors?.emailExists">Email address is in use</span>
    </div>
  </div>
