<div class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-9  bg-white border-bottom shadow-sm fixed-top">
  <img src="/assets/images/logo.png" style="max-height: 70px;" alt="logo" class="logo" routerLink="/">
  <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size: larger;">
    <a class="p-2" [routerLink]="['/']" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}" >Início</a>
    <a class="p-2" routerLink="/test-error" routerLinkActive="active">Errors</a>
  </nav>


</div>
